options:
  smtp_connection_uri:
    description: SMTP connection URI
    type: string
    default: 'smtps://test:test@mailslurper:1025/?skip_ssl_verify=true'
  dev:
    description:
      Run Kratos on dev mode, it is needed if HTTPS is not set up. This should only be used for development purposes.
    type: boolean
    default: False
  identity_schemas:
    description: |
      A mapping of schema_id to identity schemas. For example:
      {
        "user_v0": {
          "$id": "https://schemas.ory.sh/presets/kratos/quickstart/email-password/identity.schema.json",
          "$schema": "http://json-schema.org/draft-07/schema#",
          "title": "Person",
          "type": "object",
          "properties": {
            "traits": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email",
                  "title": "E-Mail",
                  "minLength": 3,
                  "ory.sh/kratos": {
                    "verification": {
                      "via": "email"
                    }
                  }
                },
                "name": {
                  "type": "string"
                }
              }
            },
            "additionalProperties": true
          }
        }
      }
    type: string
  default_identity_schema_id:
    description: The default identity schema id, this option only works when `identity_schemas` is defined
    type: string
  log_max_size:
    description: The maximum size of log file in megabytes before charmed operator calls a maintenance cycle
    type: int
    default: 200
