# TODO: Remove when pr https://github.com/go-macaroon-bakery/py-macaroon-bakery/pull/95 gets merged
macaroonbakery==1.3.2
cosl
ops>=2.0.0
lightkube
lightkube-models
Jinja2
jsonschema
requests
tenacity==8.2.3