{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": {
          "type": "datasource",
          "uid": "grafana"
        },
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "target": {
          "limit": 100,
          "matchAny": false,
          "tags": [],
          "type": "dashboard"
        },
        "type": "dashboard"
      }
    ]
  },
  "description": "This dashboard displays the values that the alerts in the charmed Identity Platform Login UI Operator monitor.",
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 0,
  "links": [
    {
      "asDropdown": false,
      "icon": "external link",
      "includeVars": false,
      "keepTime": false,
      "tags": [],
      "targetBlank": true,
      "title": "Identity Platform Login UI",
      "tooltip": "",
      "type": "link",
      "url": "https://github.com/canonical/identity-platform-login-ui"
    },
    {
      "asDropdown": false,
      "icon": "external link",
      "includeVars": false,
      "keepTime": false,
      "tags": [],
      "targetBlank": true,
      "title": "Identity Platform Login UI Operator",
      "tooltip": "",
      "type": "link",
      "url": "https://github.com/canonical/identity-platform-login-ui-operator"
    },
    {
      "asDropdown": false,
      "icon": "external link",
      "includeVars": false,
      "keepTime": false,
      "tags": [],
      "targetBlank": true,
      "title": "Ory Hydra Operator",
      "tooltip": "",
      "type": "link",
      "url": "https://github.com/canonical/hydra-operator"
    },
    {
      "asDropdown": false,
      "icon": "external link",
      "includeVars": false,
      "keepTime": false,
      "tags": [],
      "targetBlank": true,
      "title": "Ory Kratos Operator",
      "tooltip": "",
      "type": "link",
      "url": "https://github.com/canonical/kratos-operator"
    },
    {
      "asDropdown": false,
      "icon": "external link",
      "includeVars": false,
      "keepTime": false,
      "tags": [],
      "targetBlank": true,
      "title": "Postgresql Operator",
      "tooltip": "",
      "type": "link",
      "url": "https://github.com/canonical/postgresql-k8s-operator"
    }
  ],
  "liveNow": false,
  "panels": [
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${prometheusds}"
      },
      "description": "List of units in the Login UI juju deployment, and their status.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "decimals": 0,
          "mappings": [
            {
              "options": {
                "0": {
                  "text": ":("
                }
              },
              "type": "value"
            }
          ],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "rgba(222, 3, 3, 0.9)",
                "value": null
              },
              {
                "color": "rgb(234, 245, 234)",
                "value": 1
              },
              {
                "color": "rgb(235, 244, 235)",
                "value": 10000
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 6,
        "w": 5,
        "x": 0,
        "y": 0
      },
      "id": 4,
      "links": [],
      "maxDataPoints": 100,
      "options": {
        "colorMode": "value",
        "graphMode": "none",
        "justifyMode": "auto",
        "orientation": "horizontal",
        "reduceOptions": {
          "calcs": [
            "mean"
          ],
          "fields": "",
          "values": false
        },
        "text": {},
        "textMode": "auto"
      },
      "pluginVersion": "9.2.1",
      "targets": [
        {
          "datasource": {
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "exemplar": true,
          "expr": "group(up{juju_charm=\"identity-platform-login-ui-operator\"}) by (juju_unit)",
          "format": "time_series",
          "instant": true,
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "{{juju_unit}}",
          "refId": "A",
          "step": 60
        }
      ],
      "title": "Login UI Unit Availability",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${prometheusds}"
      },
      "description": "List of units in the hydra juju deployment, and their status.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "decimals": 0,
          "mappings": [
            {
              "options": {
                "0": {
                  "text": ":("
                }
              },
              "type": "value"
            }
          ],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "rgba(222, 3, 3, 0.9)",
                "value": null
              },
              {
                "color": "rgb(234, 245, 234)",
                "value": 1
              },
              {
                "color": "rgb(235, 244, 235)",
                "value": 10000
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 6,
        "w": 5,
        "x": 5,
        "y": 0
      },
      "id": 20,
      "links": [],
      "maxDataPoints": 100,
      "options": {
        "colorMode": "value",
        "graphMode": "none",
        "justifyMode": "auto",
        "orientation": "horizontal",
        "reduceOptions": {
          "calcs": [
            "mean"
          ],
          "fields": "",
          "values": false
        },
        "text": {},
        "textMode": "auto"
      },
      "pluginVersion": "9.2.1",
      "targets": [
        {
          "datasource": {
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "exemplar": true,
          "expr": "group(up{juju_charm=\"hydra\"}) by (juju_unit)",
          "format": "time_series",
          "instant": true,
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "{{juju_unit}}",
          "refId": "A",
          "step": 60
        }
      ],
      "title": "Hydra Unit Availability",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${prometheusds}"
      },
      "description": "List of units in the Kratos juju deployment, and their status.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "decimals": 0,
          "mappings": [
            {
              "options": {
                "0": {
                  "text": ":("
                }
              },
              "type": "value"
            }
          ],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "rgba(222, 3, 3, 0.9)",
                "value": null
              },
              {
                "color": "rgb(234, 245, 234)",
                "value": 1
              },
              {
                "color": "rgb(235, 244, 235)",
                "value": 10000
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 6,
        "w": 5,
        "x": 10,
        "y": 0
      },
      "id": 19,
      "links": [],
      "maxDataPoints": 100,
      "options": {
        "colorMode": "value",
        "graphMode": "none",
        "justifyMode": "auto",
        "orientation": "horizontal",
        "reduceOptions": {
          "calcs": [
            "mean"
          ],
          "fields": "",
          "values": false
        },
        "text": {},
        "textMode": "auto"
      },
      "pluginVersion": "9.2.1",
      "targets": [
        {
          "datasource": {
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "exemplar": true,
          "expr": "group(up{juju_charm=\"kratos\"}) by (juju_unit)",
          "format": "time_series",
          "instant": true,
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "{{juju_unit}}",
          "refId": "A",
          "step": 60
        }
      ],
      "title": "Kratos Unit Availability",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${prometheusds}"
      },
      "description": "List of units in the Postgresql juju deployment, and their status.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "decimals": 0,
          "mappings": [
            {
              "options": {
                "0": {
                  "text": ":("
                }
              },
              "type": "value"
            }
          ],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "rgba(222, 3, 3, 0.9)",
                "value": null
              },
              {
                "color": "rgb(234, 245, 234)",
                "value": 1
              },
              {
                "color": "rgb(235, 244, 235)",
                "value": 10000
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 6,
        "w": 5,
        "x": 15,
        "y": 0
      },
      "id": 21,
      "links": [],
      "maxDataPoints": 100,
      "options": {
        "colorMode": "value",
        "graphMode": "none",
        "justifyMode": "auto",
        "orientation": "horizontal",
        "reduceOptions": {
          "calcs": [
            "mean"
          ],
          "fields": "",
          "values": false
        },
        "text": {},
        "textMode": "auto"
      },
      "pluginVersion": "9.2.1",
      "targets": [
        {
          "datasource": {
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "exemplar": true,
          "expr": "group(up{juju_charm=\"postgresql-k8s\"}) by (juju_unit)",
          "format": "time_series",
          "instant": true,
          "interval": "",
          "intervalFactor": 2,
          "legendFormat": "{{juju_unit}}",
          "refId": "A",
          "step": 60
        }
      ],
      "title": "Postgresql Unit Availability",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${prometheusds}"
      },
      "description": "Line Graph Showing the results of the queries belonging to the Alerts observing Oauth Errors",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 10,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 2,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "never",
            "spanNulls": true,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "links": [],
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "short"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "avg gc duration"
            },
            "properties": [
              {
                "id": "unit",
                "value": "decbytes"
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "allocated memory"
            },
            "properties": [
              {
                "id": "unit",
                "value": "decbytes"
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "used memory"
            },
            "properties": [
              {
                "id": "unit",
                "value": "decbytes"
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "memory usage"
            },
            "properties": [
              {
                "id": "unit",
                "value": "decbytes"
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 10,
        "w": 10,
        "x": 0,
        "y": 6
      },
      "id": 7,
      "links": [],
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "8.1.0-pre",
      "targets": [
        {
          "datasource": {
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "sum(increase(http_response_time_seconds_count{juju_charm=\"identity-platform-login-ui-operator\", route=\"GET/api/kratos/self-service/login/browser\", status=\"500\"}[2m]))",
          "format": "time_series",
          "hide": false,
          "interval": "",
          "intervalFactor": 1,
          "legendFormat": "AcceptLoginRequestFailed",
          "range": true,
          "refId": "Alert_AcceptLoginRequestFailed_Status",
          "step": 8,
          "target": "select metric",
          "type": "timeserie"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "sum(increase(http_response_time_seconds_count{juju_charm=\"identity-platform-login-ui-operator\", route=\"GET/api/kratos/self-service/login/browser\", status=\"500\"}[2m]))",
          "hide": false,
          "instant": false,
          "interval": "",
          "legendFormat": "CreateBrowserLoginFlowFailed",
          "range": true,
          "refId": "CreateBrowserLoginFlowFailed"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "expr": "sum(increase(http_response_time_seconds_count{juju_charm=\"identity-platform-login-ui-operator\", route=\"GET/api/kratos/self-service/errors\", status=\"500\"}[2m]))",
          "hide": false,
          "legendFormat": "ErrorFlowUnavailable",
          "range": true,
          "refId": "ErrorFlowUnavailable"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "expr": "sum(increase(http_response_time_seconds_count{juju_charm=\"identity-platform-login-ui-operator\", route=\"GET/api/kratos/self-service/login/flows\", status=\"500\"}[2m]))",
          "hide": false,
          "legendFormat": "LoginFlowUnavailable",
          "range": true,
          "refId": "LoginFlowUnavailable"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "expr": "sum(increase(http_response_time_seconds_count{juju_charm=\"identity-platform-login-ui-operator\", route=\"POST/api/kratos/self-service/login\", status=\"500\"}[2m]))",
          "hide": false,
          "legendFormat": "OIDCLoginFlowUpdateFailed",
          "range": true,
          "refId": "OIDCLoginFlowUpdateFailed"
        }
      ],
      "title": "Login UI Oauth Alerts Status",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "loki",
        "uid": "${lokids}"
      },
      "description": "Visualisation for the number of log entries with levels error or above within 5 minutes spans.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 5,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 2,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "never",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "links": [],
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "short"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "400"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#447EBC",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "500"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#BF1B00",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "__systemRef": "hideSeriesFrom",
            "matcher": {
              "id": "byNames",
              "options": {
                "mode": "exclude",
                "names": [
                  "error"
                ],
                "prefix": "All except:",
                "readOnly": true
              }
            },
            "properties": [
              {
                "id": "custom.hideFrom",
                "value": {
                  "legend": false,
                  "tooltip": false,
                  "viz": true
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 10,
        "w": 10,
        "x": 10,
        "y": 6
      },
      "id": 18,
      "links": [],
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "8.1.0-pre",
      "targets": [
        {
          "datasource": {
            "type": "loki",
            "uid": "${lokids}"
          },
          "editorMode": "code",
          "expr": "sum(count_over_time( {juju_charm=\"identity-platform-login-ui-operator\"} |= `\"severity\":\"error\"` [5m]))",
          "legendFormat": "error",
          "queryType": "range",
          "range": true,
          "refId": "ErrorLevelLog"
        },
        {
          "datasource": {
            "type": "loki",
            "uid": "${lokids}"
          },
          "editorMode": "code",
          "expr": "sum(count_over_time( {juju_charm=\"identity-platform-login-ui-operator\"} |= `\"severity\":\"critical\"` [5m]))",
          "hide": false,
          "legendFormat": "critical",
          "queryType": "range",
          "range": true,
          "refId": "CriticalLevelLog"
        },
        {
          "datasource": {
            "type": "loki",
            "uid": "${lokids}"
          },
          "editorMode": "code",
          "expr": "sum(count_over_time( {juju_charm=\"identity-platform-login-ui-operator\"} |= `\"severity\":\"fatal\"` [5m]))",
          "hide": false,
          "legendFormat": "fatal",
          "queryType": "range",
          "range": true,
          "refId": "FatalLevelLog"
        }
      ],
      "title": "Login UI High Severity Log Entries",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "loki",
        "uid": "${lokids}"
      },
      "description": "Visualisation for the number of log entries with levels error or above within 5 minutes spans.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 5,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 2,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "never",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "links": [],
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "short"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "400"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#447EBC",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "500"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#BF1B00",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "__systemRef": "hideSeriesFrom",
            "matcher": {
              "id": "byNames",
              "options": {
                "mode": "exclude",
                "names": [
                  "error"
                ],
                "prefix": "All except:",
                "readOnly": true
              }
            },
            "properties": [
              {
                "id": "custom.hideFrom",
                "value": {
                  "legend": false,
                  "tooltip": false,
                  "viz": true
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 10,
        "w": 10,
        "x": 0,
        "y": 16
      },
      "id": 22,
      "links": [],
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "8.1.0-pre",
      "targets": [
        {
          "datasource": {
            "type": "loki",
            "uid": "${lokids}"
          },
          "editorMode": "code",
          "expr": "sum(count_over_time( {juju_charm=\"kratos\"} |= `\"severity\":\"error\"` [5m]))",
          "legendFormat": "error",
          "queryType": "range",
          "range": true,
          "refId": "ErrorLevelLog"
        },
        {
          "datasource": {
            "type": "loki",
            "uid": "${lokids}"
          },
          "editorMode": "code",
          "expr": "sum(count_over_time( {juju_charm=\"kratos\"} |= `\"severity\":\"critical\"` [5m]))",
          "hide": false,
          "legendFormat": "critical",
          "queryType": "range",
          "range": true,
          "refId": "CriticalLevelLog"
        },
        {
          "datasource": {
            "type": "loki",
            "uid": "${lokids}"
          },
          "editorMode": "code",
          "expr": "sum(count_over_time( {juju_charm=\"kratos\"} |= `\"severity\":\"fatal\"` [5m]))",
          "hide": false,
          "legendFormat": "fatal",
          "queryType": "range",
          "range": true,
          "refId": "FatalLevelLog"
        }
      ],
      "title": "Kratos High Severity Log Entries",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "loki",
        "uid": "${lokids}"
      },
      "description": "Visualisation for the number of log entries with levels error or above within 5 minutes spans.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 5,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 2,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "never",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "links": [],
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "short"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "400"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#447EBC",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "500"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "#BF1B00",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "__systemRef": "hideSeriesFrom",
            "matcher": {
              "id": "byNames",
              "options": {
                "mode": "exclude",
                "names": [
                  "error"
                ],
                "prefix": "All except:",
                "readOnly": true
              }
            },
            "properties": [
              {
                "id": "custom.hideFrom",
                "value": {
                  "legend": false,
                  "tooltip": false,
                  "viz": true
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 10,
        "w": 10,
        "x": 10,
        "y": 16
      },
      "id": 23,
      "links": [],
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "8.1.0-pre",
      "targets": [
        {
          "datasource": {
            "type": "loki",
            "uid": "${lokids}"
          },
          "editorMode": "code",
          "expr": "sum(count_over_time( {juju_charm=\"hydra\"} |= `\"severity\":\"error\"` [5m]))",
          "legendFormat": "error",
          "queryType": "range",
          "range": true,
          "refId": "ErrorLevelLog"
        },
        {
          "datasource": {
            "type": "loki",
            "uid": "${lokids}"
          },
          "editorMode": "code",
          "expr": "sum(count_over_time( {juju_charm=\"hydra\"} |= `\"severity\":\"critical\"` [5m]))",
          "hide": false,
          "legendFormat": "critical",
          "queryType": "range",
          "range": true,
          "refId": "CriticalLevelLog"
        },
        {
          "datasource": {
            "type": "loki",
            "uid": "${lokids}"
          },
          "editorMode": "code",
          "expr": "sum(count_over_time( {juju_charm=\"hydra\"} |= `\"severity\":\"fatal\"` [5m]))",
          "hide": false,
          "legendFormat": "fatal",
          "queryType": "range",
          "range": true,
          "refId": "FatalLevelLog"
        }
      ],
      "title": "Hydra High Severity Log Entries",
      "type": "timeseries"
    }
  ],
  "revision": "1.0",
  "schemaVersion": 37,
  "style": "dark",
  "tags": [
    "prometheus",
    "grafana",
    "loki",
    "identity platform",
    "identity-platform-logn-ui",
    "kratos",
    "hydra"
  ],
  "templating": {
    "list": [
      {
        "current": {
          "selected": true,
          "text": "juju_cos7_970e2961-4fed-4b38-87b4-5547f90bae2b_prometheus_0",
          "value": "juju_cos7_970e2961-4fed-4b38-87b4-5547f90bae2b_prometheus_0"
        },
        "hide": 0,
        "includeAll": false,
        "multi": false,
        "name": "prometheusds",
        "options": [],
        "query": "prometheus",
        "queryValue": "",
        "refresh": 1,
        "regex": "",
        "skipUrlSync": false,
        "type": "datasource"
      },
      {
        "current": {
          "selected": true,
          "text": "juju_cos7_970e2961-4fed-4b38-87b4-5547f90bae2b_loki_0",
          "value": "juju_cos7_970e2961-4fed-4b38-87b4-5547f90bae2b_loki_0"
        },
        "hide": 0,
        "includeAll": false,
        "multi": false,
        "name": "lokids",
        "options": [],
        "query": "loki",
        "queryValue": "",
        "refresh": 1,
        "regex": "",
        "skipUrlSync": false,
        "type": "datasource"
      }
    ]
  },
  "time": {
    "from": "now-1h",
    "to": "now"
  },
  "timepicker": {
    "refresh_intervals": [
      "5s",
      "10s",
      "30s",
      "1m",
      "5m",
      "15m",
      "30m",
      "1h",
      "2h",
      "1d"
    ],
    "time_options": [
      "5m",
      "15m",
      "1h",
      "6h",
      "12h",
      "24h",
      "2d",
      "7d",
      "30d"
    ]
  },
  "timezone": "",
  "title": "Identity Platform Overview Dashboard",
  "uid": "isFoa0z7k",
  "version": 1,
  "weekStart": ""
}