{%- set allowed_oidc_provider_configurations = [
    'id',
    'provider',
    'label',
    'client_id',
    'client_secret',
    'issuer_url',
    'auth_url',
    'token_url',
    'mapper_url',
    'scope',
    'microsoft_tenant',
    'subject_source',
    'apple_team_id',
    'apple_private_key_id',
    'apple_private_key',
    'requested_claims',
    'organization_id',
    'additional_id_token_audiences',
    'claims_source',
    'pkce',
] %}

{%- set oidc_providers = (external_oidc_providers | d([])) + (configmap_oidc_providers | d([])) %}

identity:
    default_schema_id: {{ default_identity_schema_id }}
    schemas:
        {%- for schema_id, identity_schema in identity_schemas.items() %}
        - id: {{ schema_id }}
          url: '{{ identity_schema }}'
        {%- endfor %}
selfservice:
    default_browser_return_url:
        {{ default_browser_return_url | d("http://example-default-return-url.com", true) }}
    {%- if error_ui_url or login_ui_url or oidc_providers or registration_webhook_config %}
    flows:
        {%- if error_ui_url %}
        error:
            ui_url: {{ error_ui_url }}
        {%- endif %}
        {%- if login_ui_url %}
        login:
            ui_url: {{ login_ui_url }}
        {%- endif %}
        {%- if settings_ui_url %}
        settings:
            ui_url: {{ settings_ui_url }}
            required_aal: highest_available
            {%- if enable_passwordless_login_method or enable_oidc_webauthn_sequencing %}
            after:
                webauthn:
                    default_browser_return_url:  {{ webauthn_settings_url }}
            {%- endif %}
        {%- endif %}
        {%- if recovery_ui_url and enable_local_idp %}
        recovery:
            enabled: True
            ui_url: {{ recovery_ui_url }}
            use: code
            after:
                default_browser_return_url: {{ default_browser_return_url }}
                hooks:
                    - hook: revoke_active_sessions
        {%- endif %}
        {%- if registration_webhook_config or oidc_providers %}
        registration:
            {%- if registration_ui_url %}
            ui_url: {{ registration_ui_url }}
            {%- endif %}
            after:
                oidc:
                    hooks:
                        {%- if registration_webhook_config %}
                        - hook: web_hook
                          config:
                            url: {{ registration_webhook_config.get("url") }}
                            body: {{ registration_webhook_config.get("body") }}
                            method: {{ registration_webhook_config.get("method") }}
                            emit_analytics_event: {{ registration_webhook_config.get("emit_analytics_event") }}
                            response:
                                ignore: {{ registration_webhook_config.get("response_ignore") }}
                                parse: {{ registration_webhook_config.get("response_parse") }}
                            {%- if registration_webhook_config.get("auth_enabled") %}
                            auth:
                                type: {{ registration_webhook_config.get("auth_type") }}
                                config:
                                    name: {{ registration_webhook_config.get("auth_config_name") }}
                                    value: {{ registration_webhook_config.get("auth_config_value") }}
                                    in: {{ registration_webhook_config.get("auth_config_in") }}
                            {%- endif %}
                        {%- endif %}
                        - hook: session
        {%- endif %}
    {%- endif %}
    {%- if oidc_providers or recovery_ui_url or enable_local_idp and login_ui_url %}
    methods:
        profile:
            enabled: False
        link:
            enabled: False
        passkey:
            enabled: False
        {%- if recovery_ui_url and enable_local_idp %}
        code:
            enabled: True
        {%- endif %}
        {%- if not enable_local_idp or not login_ui_url %}
        password:
            enabled: False
        {%- endif %}
        {%- if enable_local_idp and login_ui_url %}
        password:
            enabled: True
            config:
                haveibeenpwned_enabled: False
        {%- if enforce_mfa %}
        totp:
            enabled: True
            config:
                issuer: Identity Platform
        {%- endif %}
        {%- endif %}
        {%- if enable_oidc_webauthn_sequencing or (enforce_mfa and enable_local_idp) %}
        lookup_secret:
            enabled: True
        {%- endif %}
        {%- if enable_passwordless_login_method or enable_oidc_webauthn_sequencing %}
        webauthn:
            enabled: True
            config:
                {%- if enable_passwordless_login_method %}
                passwordless: True
                {%- else %}
                passwordless: False
                {%- endif %}
                rp:
                    id: {{ domain }}
                    origins:
                        - {{ origin }}
                    display_name: Identity Platform
        {%- endif %}
        {%- if oidc_providers %}
        oidc:
            config:
                providers:
                {%- for provider in oidc_providers %}
                    {% set config = provider.model_dump() %}
                    - {% for key, value in config.items() if key in allowed_oidc_provider_configurations and value is not none -%}
                      {{ key }}: {{ value }}
                      {% endfor -%}
                      {%- if not config["mapper_url"] %}
                      mapper_url: "{{ mappers[provider.provider] | d(mappers['default']) }}"
                      {%- endif %}
                {%- endfor %}
            enabled: True
        {%- endif %}
    {%- endif %}
