log:
    level: trace
identity:
    default_schema_id: default
    schemas:
        - id: default
          url: 'file://{{ identity_schema_file_path }}'
selfservice:
    {%- if default_browser_return_url %}
    default_browser_return_url:
        {{ default_browser_return_url }}
    {%- endif %}
    flows:
        {%- if error_ui_url %}
        error:
            ui_url: {{ error_ui_url }}
        {%- endif %}
        {%- if login_ui_url %}
        login:
            ui_url: {{ login_ui_url }}
        {%- endif %}
        {%- if registration_ui_url %}
        registration:
            enabled: True
            ui_url: {{ registration_ui_url }}
            {%- if oidc_providers %}
            after:
                oidc:
                    hooks:
                    - hook: session
            {%- endif %}
        {%- endif %}
    {%- if oidc_providers %}
    methods:
        password:
            enabled: false
        oidc:
            config:
                providers:
                {%- for provider in oidc_providers %}
                - {% for key, value in provider.config().items() -%}
                  {{ key }}: "{{ value }}"
                  {% endfor -%}
                  {%- if provider.provider in available_mappers %}
                  mapper_url: "file://{{ mappers_path }}/{{ provider.provider }}_schema.jsonnet"
                  {%- else %}
                  mapper_url: "file://{{ mappers_path }}/default_schema.jsonnet"
                  {%- endif %}
                  scope: ["profile", "email", "address", "phone"]
                {%- endfor %}
            enabled: True
    {%- endif %}
dsn: postgres://{{ db_info.get('username') }}:{{ db_info.get('password') }}@{{ db_info.get('endpoints') }}/{{ db_info.get('database_name') }}
courier:
    smtp:
        connection_uri: {{ smtp_connection_uri }}
serve:
    public:
        cors:
            enabled: true
        base_url: {{ public_base_url }}
{%- if oauth2_provider_url %}
oauth2_provider:
    url: {{ oauth2_provider_url }}
{%- endif %}
