log:
    level: {{ log_level }}
    format: json
identity:
    default_schema_id: {{ default_identity_schema_id }}
    schemas:
        {%- for schema_id, identity_schema in identity_schemas.items() %}
        - id: {{ schema_id }}
          url: '{{ identity_schema }}'
        {%- endfor %}
{%- if enable_oidc_webauthn_sequencing or (enable_local_idp and enforce_mfa) %}
session:
  whoami:
    required_aal: highest_available
{%- endif %}
selfservice:
    {%- if allowed_return_urls %}
    allowed_return_urls:
    {%- for return_url in allowed_return_urls %}
        - {{ return_url }}
    {%- endfor %}
    {%- endif %}
    default_browser_return_url:
        {{ default_browser_return_url | d("http://example-default-return-url.com", true) }}
    {%- if error_ui_url or login_ui_url or oidc_providers %}
    flows:
        {%- if error_ui_url %}
        error:
            ui_url: {{ error_ui_url }}
        {%- endif %}
        {%- if login_ui_url %}
        login:
            ui_url: {{ login_ui_url }}
        {%- endif %}
        {%- if settings_ui_url %}
        settings:
            ui_url: {{ settings_ui_url }}
            required_aal: highest_available
            {%- if enable_passwordless_login_method or enable_oidc_webauthn_sequencing %}
            after:
                webauthn:
                    default_browser_return_url:  {{ webauthn_settings_url }}
            {%- endif %}
        {%- endif %}
        {%- if recovery_ui_url and enable_local_idp %}
        recovery:
            enabled: True
            ui_url: {{ recovery_ui_url }}
            use: code
            after:
                default_browser_return_url: {{ default_browser_return_url }}
                hooks:
                    - hook: revoke_active_sessions
        {%- endif %}
        {%- if oidc_providers %}
        registration:
            after:
                oidc:
                    hooks:
                    - hook: session
        {%- endif %}
    {%- endif %}
    {%- if oidc_providers or recovery_ui_url or enable_local_idp and login_ui_url %}
    methods:
        {%- if recovery_ui_url and enable_local_idp %}
        code:
            enabled: True
        {%- endif %}
        {%- if not enable_local_idp or not login_ui_url %}
        password:
            enabled: False
        {%- endif %}
        {%- if enable_local_idp and login_ui_url %}
        password:
            enabled: True
            config:
                haveibeenpwned_enabled: False
        {%- if enforce_mfa %}
        totp:
            enabled: True
            config:
                issuer: Identity Platform
        {%- endif %}
        {%- endif %}
        {%- if enable_oidc_webauthn_sequencing or (enforce_mfa and enable_local_idp) %}
        lookup_secret:
            enabled: True
        {%- endif %}
        {%- if enable_passwordless_login_method or enable_oidc_webauthn_sequencing %}
        webauthn:
            enabled: True
            config:
                {%- if enable_passwordless_login_method %}
                passwordless: True
                {%- else %}
                passwordless: False
                {%- endif %}
                rp:
                    id: {{ domain }}
                    origins:
                        - {{ origin }}
                    display_name: Identity Platform
        {%- endif %}
        {%- if oidc_providers %}
        oidc:
            config:
                providers:
                {%- for provider in oidc_providers %}
                    {% set config = provider.config() %}
                    - {% for key, value in config.items() -%}
                      {{ key }}: {{ value }}
                      {% endfor -%}
                      {%- if not config["mapper_url"] %}
                      mapper_url: "{{ mappers[provider.provider] | d(mappers['default']) }}"
                      {%- endif %}
                {%- endfor %}
            enabled: True
        {%- endif %}
    {%- endif %}
{%- if cookie_secrets %}
secrets:
    cookie:
    {%- for secret in cookie_secrets %}
        - {{ secret }}
    {%- endfor %}
{%- endif %}
courier:
    smtp:
        connection_uri: {{ smtp_connection_uri }}
    {%- if recovery_email_template %}
    templates:
        recovery_code:
          valid:
            email:
              body:
                html: {{ recovery_email_template }}
    {%- endif %}
serve:
    public:
        cors:
            enabled: true
{%- if oauth2_provider_url %}
oauth2_provider:
    url: {{ oauth2_provider_url }}
{%- endif %}
