{% set identifier = "{}-{}".format(model, app) %}
{% set public_svc = "http://{}.{}.svc.cluster.local:{}".format(app, model, public_port) %}

{
    "http":{
        "middlewares":{
            "juju-sidecar-replace-path-{{ identifier }}":{
                "replacePath":{
                    "path":"/.well-known/ory/webauthn.js"
                }
            }
        },
        "routers":{
            "juju-{{ identifier }}-public-api-router-well-known":{
                "entryPoints":[
                    "web"
                ],
                "rule":"Path(`/.well-known/webauthn.js`)",
                "middlewares":[
                    "juju-sidecar-replace-path-{{ identifier }}"
                ],
                "service":"juju-{{ identifier }}-public-api-service"
            },
            "juju-{{ identifier }}-public-api-router-well-known-tls":{
                "entryPoints":[
                    "websecure"
                ],
                "rule":"Path(`/.well-known/webauthn.js`)",
                "middlewares":[
                    "juju-sidecar-replace-path-{{ identifier }}"
                ],
                "service":"juju-{{ identifier }}-public-api-service",
                "tls":{
                    "domains":[
                        {
                            "main":"{{ external_host }}",
                            "sans":[
                                "*.{{ external_host }}"
                            ]
                        }
                    ]
                }
            },
            "juju-{{ identifier }}-public-api-router-self-service-oidc-callback":{
                "entryPoints":[
                    "web"
                ],
                "rule":"PathPrefix(`/self-service/methods/oidc/callback`)",
                "service":"juju-{{ identifier }}-public-api-service"
            },
            "juju-{{ identifier }}-public-api-router-self-service-oidc-callback-tls":{
                "entryPoints":[
                    "websecure"
                ],
                "rule":"PathPrefix(`/self-service/methods/oidc/callback`)",
                "service":"juju-{{ identifier }}-public-api-service",
                "tls":{
                    "domains":[
                        {
                            "main":"{{ external_host }}",
                            "sans":[
                                "*.{{ external_host }}"
                            ]
                        }
                    ]
                }
            },
            "juju-{{ identifier }}-public-api-router-schemas":{
                "entryPoints":[
                    "web"
                ],
                "rule":"PathPrefix(`/schemas`)",
                "service":"juju-{{ identifier }}-public-api-service"
            },
            "juju-{{ identifier }}-public-api-router-schemas-tls":{
                "entryPoints":[
                    "websecure"
                ],
                "rule":"PathPrefix(`/schemas`)",
                "service":"juju-{{ identifier }}-public-api-service",
                "tls":{
                    "domains":[
                        {
                            "main":"{{ external_host }}",
                            "sans":[
                                "*.{{ external_host }}"
                            ]
                        }
                    ]
                }
            }            
        },
        "services":{
            "juju-{{ identifier }}-public-api-service":{
                "loadBalancer":{
                    "servers":[
                        {
                            "url":"{{ public_svc }}"
                        }
                    ]
                }
            }
        }
    }
}
