name: On Pull Request

# On pull_request, we:
# * always run lint checks
# * always run tests
# * always publish to charmhub at latest/edge/branchname

on:
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: python3 -m pip install tox

      - name: Run linters
        run: tox -e lint

  tests:
    name: Run Tests
    uses: ./.github/workflows/tests.yaml
    secrets:
      charmcraft-credentials: ${{ secrets.CHARMCRAFT_CREDENTIALS }}

  # publish runs in parallel with tests, as we always publish in this situation
  publish-charm:
    name: Publish Charm
    uses: ./.github/workflows/publish.yaml
    secrets:
      CHARMCRAFT_CREDENTIALS: ${{ secrets.CHARMCRAFT_CREDENTIALS }}
