name: On Schedule
on:
  schedule:
    - cron: '0 8 * * MON'

jobs:
  update-charm-libs:
    name: Update Charm Libraries
    uses: canonical/identity-team/.github/workflows/charm-libs-update.yaml@7ca109a149fd39d889d1f66f5d2727aafefc6915 # v1.9.1
    secrets:
      CHARMCRAFT_CREDENTIALS: ${{ secrets.CHARMCRAFT_CREDENTIALS }}
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}

  tests:
    name: CI
    uses: canonical/identity-team/.github/workflows/charm-pull-request.yaml@7ca109a149fd39d889d1f66f5d2727aafefc6915 # v1.9.1
    with:
      container-name: "kratos"
      use-charmcraftcache: true
