name: release

on:
  workflow_dispatch:
  push:
    branches:
    - main
    - "track/**"

permissions:
    contents: write
    pull-requests: write

jobs:
  release:
      name: release
      uses: canonical/identity-team/.github/workflows/charm-release.yaml@f858d2dce01066546803a4279c3525f053ca7d0f # v1.9.2
      secrets:
        PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
