name: TODO Scan After PR Merge

on:
  push:
    branches:
      - main

jobs:
  todo-to-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: TODOs to Issues
        uses: alstr/todo-to-issue-action@c45b007d85c8edf3365b139a9d4c65793e7c674f # v5
        with:
          IGNORE: "lib/charms/(?!kratos/).*"
