# This workflow could introduce duplicated issues. Trigger it only when necessary.
# See https://github.com/alstr/todo-to-issue-action?tab=readme-ov-file#multiple-issues-have-been-created
name: Manual Scan for TODOs
run-name: Manual TODO Scan for ${{ inputs.MANUAL_COMMIT_REF }} based on ${{ inputs.MANUAL_BASE_REF || 'previous commit' }}

on:
  workflow_dispatch:
    inputs:
      MANUAL_COMMIT_REF:
        description: "The SHA of the commit to get the diff for"
        required: true
      MANUAL_BASE_REF:
        description: "By default, the commit entered above is compared to the one directly before it; to go back further, enter an earlier SHA here"
        required: false

jobs:
  todo-to-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0

      - name: TODOs to Issues
        uses: alstr/todo-to-issue-action@c45b007d85c8edf3365b139a9d4c65793e7c674f # v5
        env:
          MANUAL_COMMIT_REF: ${{ inputs.MANUAL_COMMIT_REF }}
          MANUAL_BASE_REF: ${{ inputs.MANUAL_BASE_REF }}
        with:
          IGNORE: "lib/charms/(?!kratos/).*"
